#
# filename:
#	L1B_template.pcf (MODIS Aqua or Terra)
#
# description:
#	Process Control File (PCF) for MOD_PR02 (MODIS L1B)
#       Must be processed by script to replace placeholder variables
#
# notes:
#
#	This file supports the Release B version of the toolkit.
#       It is intended for use with toolkit version "SCF TK5.2.19".
#
#       The logical IDs 10000-10999 (inclusive) are reserved for internal
#       Toolkit/ECS usage, DO NOT add logical IDs with these values.
#
#	Please treat this file as a master template and make copies of it
#	for your own testing. Note that the Toolkit installation script
#	sets PGS_PC_INFO_FILE to point to this master file by default.
#       Remember to reset the environment variable PGS_PC_INFO_FILE to
#       point to the instance of your PCF.
#
#       The toolkit will not interpret environment variables specified
#       in this file (e.g. ~/database/$OSTYPE/TD is not a valid reference).
#       The '~' character, however, when appearing in a reference WILL be
#       replaced with the value of the environment variable PGSHOME.
#
#       The PCF file delivered with the toolkit should be taken as a
#       template.  User entries should be added as necessary to this
#       template.  Existing entries may (in some cases should) be altered
#       but generally should not be commented out or deleted.  A few
#       entries may not be needed by all users and can in some cases
#       be commented out or deleted.  Such entries should be clearly
#       identified in the comment(s) preceding the entry/entries.
#
#       Entries preceded by the comment: (DO NOT REMOVE THIS ENTRY)
#       are deemed especially critical and should not be removed for
#       any reason (although the values of the various fields of such an
#       entry may be configurable).
#
# -----------------------------------------------------------------------
?   SYSTEM RUNTIME PARAMETERS
# -----------------------------------------------------------------------
#########################################################################
#
# This section contains unique identifiers used to track instances of
# a PGE run, versions of science software, etc.  This section must
# contain exactly two entries.  These values will be inserted by
# ECS just before a PGE is executed.  At the SCF the values may be set
# to anything but these values are not normally user definable and user
# values will be ignored/overwritten at the DAAC.
#
#########################################################################
#
# Production Run ID - unique production instance identifier
# (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
1
# -----------------------------------------------------------------------
# Software ID - unique software configuration identifier
# (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
1
#
?   PRODUCT INPUT FILES
#########################################################################
#
# This section is intended for standard product inputs, i.e., major
# input files such as Level 0 data files.
#
# Each logical ID may have several file instances, as given by the
# version number in the last field.
#
#########################################################################
#
# Next non-comment line is the default location for PRODUCT INPUT FILES
# WARNING! DO NOT MODIFY THIS LINE unless you have relocated these
# data set files to the location specified by the new setting.
!  ~/runtime
#
# L1A input file (current granule only)
500001|L1AFILE|L1ADIR||L1AFILE|L1AFILE|1
#
# Geolocation
600000|GEOFILE|GEODIR||GEOFILE|GEOFILE|1
#
# Lookup Tables
700050|REFL_LUT|CALDIR||REFL_LUT||1
700060|EMIS_LUT|CALDIR||EMIS_LUT||1
700070|QA_LUT|CALDIR||QA_LUT||1
#
# -----------------------------------------------------------------------
# file for Constant & Unit Conversion (CUC) tools
# IMPORTANT NOTE: THIS FILE WILL BE SUPPLIED AFTER TK4 DELIVERY!
# -----------------------------------------------------------------------
10999|PGS_CUC_maths_parameters|~/database/common/CUC||||1
#
#------------------------------------------------------------------------
# Metadata Configuration File (MCF) is a template to be filled in by the
# Instrument teams.  MCFWrite.temp is a scratch file used to dump the MCF
# prior to writing to the hdf file. GetAttr.temp is similarly used to
# dump metadata from the hdf attributes and is used by PGS_MET_GetPCAttr.
# (DO NOT REMOVE THESE ENTRIES)
#------------------------------------------------------------------------
10250|MCF|||||1
10252|GetAttr.temp|LOGDIR||||1
10254|MCFWrite.temp|LOGDIR||||1
10260|XMLstylesheet.temp|LOGDIR||||1
#
# MOD_PR02 MCFs:
700250|QKM_MCF|MCFDIR||||1
700251|HKM_MCF|MCFDIR||||1
700252|1KM_MCF|MCFDIR||||1
700253|OBC_MCF|MCFDIR||||1
#
?   PRODUCT OUTPUT FILES
#########################################################################
#
# This section is intended for standard product outputs, i.e., HDF-EOS
# files generated by this PGE.
#
# Each logical ID may have several file instances, as given by the
# version number in the last field.
#
#########################################################################
#
# Next line is the default location for PRODUCT OUTPUT FILES
!  ~/runtime
#
# Level 1B Output Files
700000|QKMFILE|L1BDIR||QKMFILE|QKMFILE|1
700001|HKMFILE|L1BDIR||HKMFILE|HKMFILE|1
700002|1KMFILE|L1BDIR||1KMFILE|1KMFILE|1
700010|OBCFILE|L1BDIR||OBCFILE|OBCFILE|1
#
#------------------------------------------------------------------------
# This file is created when PGS_MET_Write is used with an intention
# to write an ASCII representation of the MCF in memory. The user is
# allowed to change the name and path if required.
#
# NOTE: THIS IS OBSOLETE, THIS ENTRY IS ONLY HERE FOR BACKWARD
#       COMPATIBILITY WITH PREVIOUS VERSIONS OF THE TOOLKIT.
#       THE LOGICAL ID 10255 SHOULD BE MOVED DOWN TO THE RUNTIME
#       PARAMETERS SECTION OF THIS FILE AND GIVEN A VALUE OF:
#       <logical_id>:<version_number> WHERE THOSE VALUES REFLECT THE
#       ACTUAL VALUES FOR THE NON-HDF OUTPUT PRODUCT FOR WHICH THE
#       ASCII METADATA IS BEING WRITTEN.  e.g.:
#       10255|reference output product|100:2
#
#------------------------------------------------------------------------
10255|asciidump|||||1
# -----------------------------------------------------------------------
#
?   SUPPORT INPUT FILES
#########################################################################
#
# This section is intended for minor input files, e.g., calibration
# files.
#
# Each logical ID may have several file instances, as given by the
# version number in the last field.
#
#########################################################################
#
# Next line is the default location for SUPPORT INPUT FILES
!  ~/runtime
#
# -----------------------------------------------------------------------
# leap seconds (TAI-UTC) file (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10301|leapsec.dat|~/database/common/TD||||1
#
# -----------------------------------------------------------------------
# polar motion and UTC-UT1 file (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10401|utcpole.dat|~/database/common/CSC||||1
#
# -----------------------------------------------------------------------
# earth model tags file (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10402|earthfigure.dat|~/database/common/CSC||||1
#
# -----------------------------------------------------------------------
# JPL planetary ephemeris file (binary form) (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10601|de200.eos|~/database/linux64/CBP||||1
#
# -----------------------------------------------------------------------
# spacecraft tag definition file (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10801|sc_tags.dat|~/database/common/EPH||||1
#
# -----------------------------------------------------------------------
# units conversion definition file (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10302|udunits.dat|~/database/common/CUC||||1
#
# -----------------------------------------------------------------------
# Style Sheet for XML INVENTORY Metadata (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10303|science.xsl|~/database/common/MET||||1
#
?   SUPPORT OUTPUT FILES
#########################################################################
#
# This section is intended for minor output files, e.g., log files.
#
# Each logical ID may have several file instances, as given by the
# version number in the last field.
#
#########################################################################
#
# Next line is default location for SUPPORT OUTPUT FILES
!  LOGDIR
#
# -----------------------------------------------------------------------
# These files support the SMF log functionality. Each run will cause
# status information to be written to 1 or more of the Log files. To
# simulate DAAC operations, remove the 3 Logfiles between test runs.
# Remember: all executables within a PGE will contribute status data to
# the same batch of log files. (DO NOT REMOVE THESE ENTRIES)
# -----------------------------------------------------------------------
10100|LogStatus.1KMFILE|||||1
10101|LogReport.1KMFILE|||||1
10102|LogUser.1KMFILE|||||1
10103|TmpStatus|||||1
10104|TmpReport|||||1
10105|TmpUser|||||1
10110|MailFile|||||1
#
# -----------------------------------------------------------------------
# ASCII file which stores pointers to runtime SMF files in lieu of
# loading them to shared memory, which is a TK5 enhancement.
# (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10111|ShmMem|||||1
#
?   USER DEFINED RUNTIME PARAMETERS
#########################################################################
#
# This section is intended for parameters used as PGE input.
#
# Note: these parameters may NOT be changed dynamically.
#
#########################################################################
#
# ----------------------------------------------------------------------
# The following parameter defines the PGE Version number, which is checked
# against PGE_Version in the LUT HDF files.
# ----------------------------------------------------------------------
800500|PGE02 Version|PGEVERSION
#
# ----------------------------------------------------------------------
# The following parameter tells the PGE whether to run the Terra-only
# data stream or the Aqua-only data stream.
# ----------------------------------------------------------------------
800510|SatelliteInstrument; AM1M=Terra, PM1M=Aqua, AMPM=Terra/Aqua|SAT_INST
#
# ----------------------------------------------------------------------
# The following parameters define the values to be placed in the core
# metadata fields "ReprocessingPlanned" and "ReprocessingActual"
# ----------------------------------------------------------------------
800600|ReprocessingPlanned|further update is anticipated
800605|ReprocessingActual|processed once
#
# ----------------------------------------------------------------------
# The following parameter defines the MCST Version number, which is checked
# against the LUT version number in the LUT HDF files.
# ----------------------------------------------------------------------
800610|MCSTLUTVersion|LUTVERSION
#
# ----------------------------------------------------------------------
# The following parameter determines whether the 250m and 500m data sets
# will be written out when all scans in a granule are NIGHT mode.  To
# enable writing out night mode High Resolution data, set the flag to 1;
# to disable, set to 0.
# ----------------------------------------------------------------------
800615|Write_Night_Mode_HiRes_Data|0
#
# ----------------------------------------------------------------------
# The following parameters define the values to be placed in the archive
# metadata field "ProcessingCenter"
# ----------------------------------------------------------------------
800620|ProcessingCenter|OBPG
#
# -----------------------------------------------------------------------
# These parameters are required to support the PGS_SMF_Send...() tools.
# If the first parameter (TransmitFlag) is disabled, then none of the
# other parameters need to be set. By default, this functionality has been
# disabled. To enable, set TransmitFlag to 1 and supply the other 3
# parameters with local information. (DO NOT REMOVE THESE ENTRIES)
# -----------------------------------------------------------------------
10109|TransmitFlag; 1=transmit,0=disable|0
10106|RemoteHost|sandcrab
10107|RemotePath|/usr/kwan/test/PC/data
10108|EmailAddresses|kwan@eos.hitc.com
#
# -----------------------------------------------------------------------
# The following runtime parameters define various logging options.
# Parameters described as lists should be space (i.e. ' ') separated.
# The logical IDs 10117, 10118, 10119 listed below are for OPTIONAL
# control of SMF logging.  Any of these logical IDs which is unused by a
# PGE may be safely commented out (e.g. if logging is not disabled for
# any status level, then the line beginning 10117 may be commented out).
# -----------------------------------------------------------------------
10114|Logging Control; 0=disable logging, 1=enable logging|1
10115|Trace Control; 0=no trace, 1=error trace, 2=full trace|0
10116|Process ID logging; 0=don't log PID, 1=log PID|0
10117|Disabled status level list (e.g. W S F)|
10118|Disabled seed list|
10119|Disabled status code list|
#
# -----------------------------------------------------------------------
# Toolkit version for which this PCF was intended.
# DO NOT EDIT OR REMOVE THIS ENTRY!
# -----------------------------------------------------------------------
10220|Toolkit version string|SCF  TK5.2.19
#
# -----------------------------------------------------------------------
# The following parameters define the ADEOS-II TMDF values (all values
# are assumed to be floating point types).  The ground reference time
# should be in TAI93 format (SI seconds since 12 AM UTC 1993-01-01).
# These formats are only prototypes and are subject to change when
# the ADEOS-II TMDF values are clearly defined.  PGEs that do not access
# ADEOS-II L0 data files do not require these parameters.  In this case
# they may be safely commented out, otherwise appropriate values should
# be supplied.
# -----------------------------------------------------------------------
10120|ADEOS-II s/c reference time|
10121|ADEOS-II ground reference time|
10122|ADEOS-II s/c clock period|
#
# -----------------------------------------------------------------------
# The following parameter defines the TRMM UTCF value (the value is
# assumed to be a floating point type).  PGEs that do not access TRMM
# data of any sort do not require this parameter.  In this case it may be
# safely commented out, otherwise an appropriate value should be
# supplied.
# -----------------------------------------------------------------------
10123|TRMM UTCF value|
#
# -----------------------------------------------------------------------
# The following parameter defines the Epoch date to be used for the
# interpretation (conversion) of NASA PB5C times (the Epoch date should
# be specified here in CCSDS ASCII format--A or B) (reserved for future
# use--this quantity is not referenced in TK 5.2).  This entry may be
# safely commented out or deleted.
# -----------------------------------------------------------------------
10124|NASA PB5C time Epoch date (ASCII UTC)|
#
# -----------------------------------------------------------------------
# The following parameter is a "mask" for the ephemeris data quality
# flag.  The value should be specified as an unsigned integer
# specifying those bits of the ephemeris data quality flag that
# should be considered fatal (i.e. the ephemeris data associated
# with the quality flag should be REJECTED/IGNORED).
# -----------------------------------------------------------------------
10507|ephemeris data quality flag mask|65536
#
# -----------------------------------------------------------------------
# The following parameter is a "mask" for the attitude data quality
# flag.  The value should be specified as an unsigned integer
# specifying those bits of the attitude data quality flag that
# should be considered fatal (i.e. the attitude data associated
# with the quality flag should be REJECTED/IGNORED).
# -----------------------------------------------------------------------
10508|attitude data quality flag mask|65536
#
# -----------------------------------------------------------------------
# ECS DPS trigger for PGE debug runs
#
# NOTICE TO PGE DEVELOPERS: PGEs which have a debug mode
# need to examine this parameter to evaluate activation rule
# (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10911|ECS DEBUG; 0=normal, 1=debug|0
#
# -----------------------------------------------------------------------
# The following runtime parameters defines generation of XML metadata during
# the production of .met file for the INVENTORY Metadata. If the flag is
# set to 0 only ASCII .met file will be created besides writing metadata into
# HDF file.If the flag is set to 1 then a .xml file will also be created
# in addition to ASCII .met file and metadata that is put into the HDF file.
# -----------------------------------------------------------------------
10256|XML METADATA GENERATION FLAG; 0=no, 1=yes|0
#
# -----------------------------------------------------------------------
# This entry defines the IP address of the processing host and is used
# by the Toolkit when generating unique Intermediate and Temporary file
# names.  The Toolkit no longer relies on the PGS_HOST_PATH environment
# variable to otain this information. (DO NOT REMOVE THIS ENTRY)
# -----------------------------------------------------------------------
10099|Local IP Address of 'ether'|155.157.31.87
#
?   INTERMEDIATE INPUT
#########################################################################
#
# This section is intended for intermediate input files, i.e., files
# which are output by an earlier PGE but which are not standard
# products.
#
# Each logical ID may have only one file instance.
# Last field on the line is ignored.
#
#########################################################################
#
# Next line is default location for INTERMEDIATE INPUT FILES
!  ~/runtime
#
?   INTERMEDIATE OUTPUT
#########################################################################
#
# This section is intended for intermediate output files, i.e., files
# which are to be input to later PGEs, but which are not standard
# products.
#
# Each logical ID may have only one file instance.
# Last field on the line is ignored.
#
#########################################################################
#
# Next line is default location for INTERMEDIATE OUTPUT FILES
!  ~/runtime
#
?   TEMPORARY I/O
#########################################################################
#
# This section is intended for temporary files, i.e., files
# which are generated during a PGE run and deleted at PGE termination.
#
# Entries in this section are generated internally by the Toolkit.
# DO NOT MAKE MANUAL ENTRIES IN THIS SECTION.
#
#########################################################################
#
# Next line is default location for TEMPORARY FILES
!  ~/runtime
#
?   END
